In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [6]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [58]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [59]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [60]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [73]:
print(len(job_title),len(job_location))

20 20

In [74]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location})
df

,Title,Location
0,Data Scientist,"Mumbai, Hyderabad, Gurugram"
1,Data Scientist,"Gurugram, Bengaluru"
2,Data Scientist II,"Greater Noida, Bengaluru"
3,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
5,JOB Opening // Data science // Neosoft Mumbai ...,"Noida, Mumbai, Pune"
6,Lead Customer Success - Data Scientist,"Pune, Gurugram"
7,Fullstack Data Scientist,"Mumbai, Gurugram, Bengaluru"
8,Data Scientist,Noida
9,Data Scientist,Noida
10,Python and ML Trainer,"Hyderabad, New Delhi, Pune, Gurugram, Bengaluru"
11,Data Scientist,"Gurugram, Bengaluru"
12,Data Scientist,"Varanasi, Kannur, Mumbai, New Delhi"
13,Data Scientists,New Delhi
14,Data Scientist,New Delhi
15,Data Scientist,Gurugram
16,Data Scientist,"Kolkata, Pune, Gurugram"
17,Data Scientist,"Ghaziabad, Uttar Pradesh(Vaishali)"
18,Data Scientist,"Hybrid - Gurugram, Haryana"
19,Freelance Data Scientist,Remote

Question 2

In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [7]:
driver=webdriver.Chrome()

In [8]:
driver.get("https://www.shine.com/")

In [11]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [12]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [13]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [14]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [45]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_features__wJid6"]/h2/div')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [16]:
location_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [17]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [18]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [46]:
print(len(job_title),len(job_location),len(experience_required),len(company_name))

20 20 20 20

In [47]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Experience':experience_required,'Company':company_name})
df

,Title,Location,Experience,Company
0,6 days ago,Bangalore\n+15,0 to 4 Yrs,renuka interprises
1,7 days ago,Bangalore\n+15,0 to 4 Yrs,renuka interprises
2,2 weeks ago,Bangalore\n+9,0 to 4 Yrs,radhika enterprises
3,4 weeks ago,Bangalore\n+8,0 to 2 Yrs,techno endura
4,1 month ago,Bangalore\n+3,5 to 8 Yrs,gujarat facility services hiring fo...
5,1 month ago,Bangalore\n+15,0 to 4 Yrs,renuka interprises
6,2 months ago,Bangalore\n+4,3 to 5 Yrs,acme services private limited
7,2 months ago,Bangalore\n+15,0 to 4 Yrs,renuka interprises
8,2 months ago,Bangalore\n+15,0 to 4 Yrs,renuka interprises
9,Premium\n2 months ago,Bangalore,6 to 8 Yrs,ltimindtree limited
10,3 days ago,Bangalore\n+6,0 to 1 Yr,techno endura
11,3 days ago,Bangalore\n+6,0 to 1 Yr,techno endura
12,Hot\n0 days ago,Bangalore\n+9,0 to 1 Yr,v-tech data outsourcing
13,5 days ago,Bangalore\n+9,12 to 22 Yrs,sahast sales corporation
14,2 weeks ago,Bangalore\n+6,0 to 1 Yr,techno endura
15,2 weeks ago,Bangalore,10 to 20 Yrs,uprighthc solutions private limited
16,4 days ago,Bangalore\n+9,0 to 1 Yr,v-tech data outsourcing
17,2 weeks ago,Bangalore\n+4,8 to 10 Yrs,symphoni hr pvt. ltd.
18,3 weeks ago,Bangalore\n+6,0 to 1 Yr,techno endura
19,1 week ago,Bangalore,4 to 6 Yrs,spm hr solutions

Question-3

In [48]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [49]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [50]:
driver=webdriver.Chrome()

In [51]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [88]:
product_rating=[]
full_review=[]

In [89]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    rating=i.text
    product_rating.append(rating)

In [90]:
fullreviews_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in fullreviews_tags:
    fullreviews=i.text
    full_review.append(fullreviews)

In [91]:
print(len(product_rating),len(full_review))

10 10

In [93]:
import pandas as pd
df=pd.DataFrame({'Rating':product_rating,'Full Review':full_review})
df

  Rating                                        Full Review
0      5  Feeling awesome after getting the delivery of ...
1      5                                        Good Camera
2      5                             This is amazing at all
3      5                    Super🔥 and good performance 👌❤️
4      5                                     Very very good
5      5  Camera is awesome\nBest battery backup\nA perf...
6      5                                       Photos super
7      5                                  Value for money 😍
8      5                                  Perfect Product!!
9      5                           very good camera quality

Question-4

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [4]:
driver=webdriver.Chrome()

In [5]:
driver.get("https://www.flipkart.com/")

In [11]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sneakers')

In [25]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [26]:
product_brand=[]
product_description=[]
product_price=[]

In [27]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand=i.text
    product_brand.append(brand)

In [31]:
description_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]/a')
for i in description_tags:
    description=i.text
    product_description.append(description)

In [29]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price=i.text
    product_price.append(price)

In [33]:
print(len(product_brand),len(product_description))

40 40 39

In [35]:
import pandas as pd
df=pd.DataFrame({'Brand':product_brand,'Description':product_brand})
df

         Brand Description
0           TR          TR
1    Ego by NS   Ego by NS
2     URBANBOX    URBANBOX
3    Deals4you   Deals4you
4     RED TAPE    RED TAPE
5         PUMA        PUMA
6         ATOM        ATOM
7       BRUTON      BRUTON
8        Arivo       Arivo
9        BIRDE       BIRDE
10      BRUTON      BRUTON
11        ATOM        ATOM
12    RED TAPE    RED TAPE
13       BIRDE       BIRDE
14     TREKIST     TREKIST
15    RED TAPE    RED TAPE
16      BRUTON      BRUTON
17        aadi        aadi
18    RED TAPE    RED TAPE
19       Fizoo       Fizoo
20        aadi        aadi
21      BRUTON      BRUTON
22       BIRDE       BIRDE
23  HIGHLANDER  HIGHLANDER
24        aadi        aadi
25      Labbin      Labbin
26      Layasa      Layasa
27      BRUTON      BRUTON
28   Ego by NS   Ego by NS
29       asian       asian
30     CCICACO     CCICACO
31      Layasa      Layasa
32        PUMA        PUMA
33    BERSACHE    BERSACHE
34       asian       asian
35      BRUTON      BRUTON
36      BRUTON      BRUTON
37      Layasa      Layasa
38    WOODLAND    WOODLAND
39       asian       asian

Question-5

In [36]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [37]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [38]:
driver=webdriver.Chrome()

In [39]:
driver.get("https://www.amazon.in/")

In [46]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

In [48]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [60]:
laptop_title=[]
laptop_rating=[]
laptop_price=[]

In [79]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags:
    title=i.text
    laptop_title.append(title)

In [75]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tags:
    rating=i.text
    laptop_rating.append(rating)

In [84]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags:
    price=i.text
    laptop_price.append(price)

In [85]:
print(len(laptop_title),len(laptop_rating),len(laptop_price))

75 79 78

In [86]:
import pandas as pd
df=pd.DataFrame({'Title':laptop_title,'Rating':laptop_rating,'Price':laptop_price})
df

ValueError: All arrays must be of the same length

Question-6

In [87]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [88]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [89]:
driver=webdriver.Chrome()

In [90]:
driver.get("https://www.azquotes.com/")

In [91]:
quote_title=[]
quote_author=[]
quote_type=[]

In [92]:
quote_tags=driver.find_elements(By.XPATH,'//div[@class="title"]')
for i in quote_tags:
    quote=i.text
    quote_title.append(quote)

In [96]:
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags:
    author=i.text
    quote_author.append(author)

In [94]:
type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_tags:
    type=i.text
    quote_type.append(type)

In [97]:
print(len(quote_title),len(quote_author),len(quote_type))

100 100 100

In [98]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Type':quote_type})
df

,Title,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Question-8

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [8]:
driver=webdriver.Chrome()

In [9]:
driver.get("https://www.motor1.com/")

In [10]:
car_name=[]
car_price=[]

In [15]:
car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags:
    brand=i.text
    car_name.append(brand)

In [22]:
print(len(car_name))

51

In [23]:
import pandas as pd
df=pd.DataFrame({'Car Name':car_name})
df

                              Car Name
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profilée
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail
50    Most Expensive Cars In The World

Question-7

In [24]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [25]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [32]:
driver=webdriver.Chrome()

In [33]:
driver.get("https://www.amazon.in/")

In [34]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

In [35]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [49]:
laptop_title=[]
laptop_rating=[]
laptop_price=[]

In [50]:
laptop_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptop_tags:
    brand=i.text
    laptop_title.append(brand)

In [51]:
ratings_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in ratings_tags:
    rating=i.text
    laptop_rating.append(rating)

In [52]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags:
    price=i.text
    laptop_price.append(price)

In [53]:
print(len(laptop_title),len(laptop_rating),len(laptop_price))

31 36 33

In [54]:
import pandas as pd
df=pd.DataFrame({'Title':laptop_title,'Author':laptop_rating,'Type':laptop_price})
df

ValueError: All arrays must be of the same length

Question-7

In [1]:
!pip install Selenium

Requirement already satisfied: Selenium in c:\users\user\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from Selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from Selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from Selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from Selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\anaconda3\lib\site-packages (from Selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1")

In [5]:
pm_name=[]
pm_borndead=[]
pm_tenure=[]
pm_remarks=[]

In [ ]:
name_tags=driver.find_elements(By.XPATH,'//span[@class=""]')
for i in name_tags:
    name=i.text
    pm_name.append(name)